agent-framework-foundry
agent-framework-foundry-hosting==1.0.0b260730
agent-framework-azure-cosmos==1.0.0b260730
agent-framework-azure-ai-search==1.0.0b260730
agent-framework-devui==1.0.0b260730
azure-ai-projects==2.3.0
azure-search-documents
azure-cosmos
azure-identity
python-dotenv
PyYAML==6.0.2
watchfiles
